//! Section - 1 Home

@import "./variable.scss";

.intro-wrapper {
  //   background-color: black;
  //   background-image: url('../images/home-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .intro-row {
    margin: 0 5rem;
    min-height: 100vh;
    display: flex;
    // flex-wrap: wrap;
    align-items: center;
    .img-wrapper {
      width: 50%;
      height: 400px;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .intro-content {
      border-left: 5px solid $black;
      padding-left: 30px;
      width: 50%;
      h6,
      h1,
      h3 {
        color: $black;
        line-height: 1.2;
        margin: 10px 0;
        letter-spacing: 5px;
      }
      h6 {
        font-size: 25px;
        font-weight: 500;
      }
      h1 {
        font-size: 90px;
        font-weight: 700;
      }
      h3 {
        font-size: 35px;
        font-weight: 600;
      }
    }
  }
}
@media (max-width: 768px) {
  .intro-wrapper {
    .intro-row {
      flex-direction: column;
      justify-content: space-evenly;
      margin: 0;
      padding: 15px;
      .intro-content,
      .img-wrapper {
        height: auto;
        width: 100%;
      }
      .intro-content {
        padding: 10px;
        h6 {
          font-size: 15px;
        }
        h1 {
          font-size: 40px;
        }
        h3 {
          font-size: 18px;
        }
      }
    }
  }
}
