//! Section - 4 Portfolio

@import "./variable.scss";

.portfolio-wrapper {
  //   background: #f5f8fd;
  padding: 5rem;
  .portfolio-row {
    .section-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
      h1 {
        font-size: 2.5rem;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
        margin: 10px 0;
      }
      span {
        background: $warning;
        width: 120px;
        height: 2px;
      }
    }
    .filter-buttons {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 30px;
      ul {
        padding: 0;
        list-style: none;
        text-align: center;
        li {
          display: inline-block;
          margin: 0 10px;
          cursor: pointer;
          font-weight: 500;
          font-size: 16px;
          text-transform: uppercase;
          &.active {
            color: $warning;
            border-bottom: 2px solid $warning;
          }
        }
      }
    }
    .portfolio-gallery {
      flex: 0 0 100%;
      max-width: 100%;
      display: flex;
      flex-wrap: wrap;
      // justify-content: space-evenly;
      .item {
        cursor: pointer;
        max-width: 33.33%;
        // margin: 25px 0;
        position: relative;
        padding: 16px;
        .inner {
          position: relative;
          transition: 0.5s ease-in-out;
          &:hover {
            transform: scale(1.05);
            -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
          }
          img {
            width: 100%;
            height: 300px;
            object-fit: contain;
            display: block;
          }
          &:hover .overlay {
            opacity: 1;
            h4 {
              text-align: center;
              animation: galleryText 0.8s ease;
              -webkit-animation: galleryText 0.8s ease;
            }
            span {
              animation: galleryIcon 0.8s ease;
              -webkit-animation: galleryIcon 0.8s ease;
            }
          }
          .overlay {
            transition: all 0.5s ease;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 10;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0;
            h4 {
              text-align: center;
              font-size: 25px;
              color: $white;
              margin-top: 10px;
            }
            span {
              cursor: pointer;
              display: flex;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              align-items: center;
              justify-content: center;
              background: $warning;
              color: $white;
              svg {
                fill: $white;
              }
            }
          }
        }
      }
    }
  }
}
@keyframes galleryIcon {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes galleryText {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .nav-item {
    font-size: 15px !important;
  }
  .portfolio-wrapper {
    .portfolio-row {
      .nav {
        a {
          font-size: 12px !important;
        }
      }
      .section-title {
        h1 {
          font-size: 30px;
        }
      }
    }
  }

  .portfolio-gallery {
    .item {
      max-width: 100% !important;
    }
  }
}
